body {
    font-family: Roboto;
    /*background: black;*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.pfp {
    width: 48px;
    height: 48px;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
    padding: 0;
    border-radius: 100% !important;
}